{% extends "page_template.j2" %}
{% from "macros.j2" import social_buttons with context  %}

{% block content %}
<article>
    <div class="category">{{resource.meta.category}}</div>
    <h2>{{resource.meta.title}}</h2>
    <div class="byline">
        {{resource.meta.date}}. {{resource.meta.author}}
        {{ social_buttons() }}
    </div>

    {% block post_content %}
    {% endblock %}
</article>
{% endblock %}
